button {
  background-color: #666;
  padding: 1em;
  border-radius: 1em; 
  color: white;
  cursor: pointer;
}

button:hover {
  
  color: white;
}

button.darkMode, .darkMode button{
  background-color: black;
  border: 1px solid yellow;
  color: white;
}

button.lightMode, .darkMode button{
  background-color: #666;
  border: 1px solid black;
  color: black;
}